.entry {
  font-size: 24px;
}

.entry-toggle {
  /* have to be monospace fonts if we want +/- control btns the same size */
  font-family: Courier New, Courier, monospace;
  cursor: pointer;
}

.entry-toggle:hover {
  font-weight: bolder;
}

.forest {
  margin-left: 1em;
}